.side-nav {
  color: $color-white;
  list-style: none;
  margin-top: 3.5rem;

  @include respond(tab-port) {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  @include respond(phone) {
    justify-content: space-between;
  }

  &-item {
    position: relative;
    margin-bottom: 0.5rem;

    @include respond(tab-port) {
      margin-bottom: 0px;
      padding: 0.7rem;
    }

    @include respond(phone-small) {
      flex-grow: 1;
    }
  }

  &-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-primary;
    transform: scaleY(0);
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1), width 0.4s 0.2s;
    transform-origin: bottom;
    cursor: pointer;
  }

  &-item:hover,
  &-item--active {
    &::before {
      transform: scaleY(1);
      width: 100%;
    }
  }
  &-item:active {
    &::before {
      background-color: $color-primary-light;
    }
  }

  &-link {
    &:visited,
    &:link {
      padding: 1.5rem 3rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-grey-light-1;
      font-size: 1.3rem;
      font-weight: 100;
      display: block;
      position: relative;
      z-index: 10;

      display: flex;
      align-items: center;

      @include respond(phone) {
        padding: 1rem;
      }

      @include respond(phone-small) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0.3rem;
      }
    }
  }
  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;

    @include respond(phone-small) {
      margin: 1rem auto;
      &-text {
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.copy-right {
  text-align: center;
  font-size: 1.2rem;
  padding: 2.5rem;
  color: $color-grey-light-4;
  font-weight: 100;

  @include respond(tab-port) {
    display: none;
  }
}
