.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    color:$color-white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    & > * {
        height: 100%;
        width: 100%;
        display: inline-block;
        transition: all .2s;
    }
    &__visible {
        padding:2rem 7.5rem;
    }
    &__invisible {
        display: inline-block;
        position: absolute;
        left: 0;top:-100%;
        padding:2rem 0;
        height: 100%;
        width: 100%;
    }
    &:focus {
        outline: none;
    }
    
    &:hover &__visible {
        transform: translateY(100%);
     }
    
    &:hover &__invisible {
      top:0;
    }
    
    &:hover {
        background-image: linear-gradient(to left, $color-primary-light,$color-primary-dark);
    }
}

.btn-inline {
    color:$color-primary-dark;
    border: none;
    border-bottom: 1px solid $color-primary-dark;
    background-color: $color-grey-light-1;
    cursor: pointer;
    transition: transform .3s;
}
.btn-inline:focus {
    outline: none;
}
.btn-inline:active {
    transform: translateY(3px);
    color:$color-grey-dark-1;
    border-color: $color-grey-dark-1;
}

